/* global fontSize @×2 */
.f12 {
  font-size: 12px;
}

.f20 {
  font-size: 20px;
}

.f24 {
  font-size: 24px;
}

.f26 {
  font-size: 26px;
}

.f28 {
  font-size: 28px;
}

.f30 {
  font-size: 30px;
}

.f32 {
  font-size: 32px;
}

.f34 {
  font-size: 34px;
}

.f36 {
  font-size: 36px;
}

.f38 {
  font-size: 36px;
}

.f40 {
  font-size: 40px;
}

.f42 {
  font-size: 40px;
}

.f44 {
  font-size: 42px;
}

.f46 {
  font-size: 46px;
}

.f48 {
  font-size: 48px;
}
